<nav class="navbar">
	<div class="navbar__content">
		<div class="flex md:flex-col items-center gap-2">
			@if (showBackButton) {
				<button pButton type="button" class="p-button-rounded p-button-text" (click)="back($event)" aria-label="Back">
					<img src="/ui/back.svg" alt="Back" />
				</button>
			}

			@if (showCustomizeButton) {
				<button pButton type="button" class="p-button-rounded p-button-text" (click)="customize()" aria-label="Edit">
					<img src="/ui/customize.svg" alt="Edit" />
				</button>
			}

			@if (showAddButton) {
				<button pButton type="button" class="p-button-rounded p-button-text" (click)="open()" aria-label="Add">
					<img src="/ui/add.svg" alt="Add" />
				</button>
			}
		</div>

		<div class="flex md:flex-col items-center gap-2 pr-3 md:pr-0">
			@if (showEditButton && editButtonVisible) {
				<button pButton type="button" class="p-button-rounded p-button-text" (click)="edit()" aria-label="Edit selection">
					<img src="/ui/edit.svg" alt="Edit" />
				</button>
			}

			@if (showDeleteButton && deleteButtonVisible) {
				<button pButton type="button" class="p-button-rounded p-button-text bg-red-600 hover:bg-red-500" (click)="delete()" aria-label="Delete selection">
					<img src="/ui/delete.svg" alt="Delete" />
				</button>
			}
		</div>
	</div>
</nav>

<!-- Backdrop -->

@if (visible) {
	<div class="fixed inset-0 bg-black/70 z-40" (click)="close()"></div>
}

<!-- Slide-in panel -->
<div class="s-in-panel app-v-scrollbar fixed top-0 left-0 h-full z-50 transform bg-neutral-950/95 border-r border-neutral-primary-soft/20 text-white shadow-2xl shadow-neutral-primary/10 w-[100vw] lg:w-[768px]"
	[style.transition]="getSidebarTransition(visible)"
	[style.transform]="getSidebarTranslation(visible)">
	
	<add-menu
		(openSlide)="open()"
		(closeSlide)="close()"
	/>
</div>

