<main class="main">
  <div class="w-16">
    <app-nav
      [showCustomizeButton]="false"
      [showBackButton]="true"
      [showAddButton]="true"
      [showDeleteButton]="true"
      [deleteButtonVisible]="selectedItemCount > 0"
      [showEditButton]="true"
      [editButtonVisible]="selectedItemCount === 1"
      (backClick)="back()"
      (deleteClick)="deleteSelected()"
      (editClick)="editSelected()"
      #drawer
    ></app-nav>
  </div>
  <div class="main__tableau-container">
    <tableau [editMode]="true" (selectionChange)="onSelectionChange($event)" #tableau></tableau>
  </div>
</main>
